<div class=" x mb-2 mt-2 h-100 w-100 ">
    <div class="card  h-100 w-75">
    <div class=" row">
        <div class="col-6 y">
      
        <h1 class="text mt-5"> sign in</h1>
        
          
          <div class="mb-3 mx-3">
            <label for="email" class="form-label label">Email</label>
            <input type="text" class="form-control" id="email" placeholder="example@gmail.com">
          </div>
          <div class="mb-3 mx-3">
            <label for="password" class="form-label label">Password</label>
            <input type="text" class="form-control" id="password" placeholder="*****">
          </div>
         
         <div> <a class=" d-flex justify-content-end mb-4 label m-4" routerLink="./app/about" [routerLinkActive]="'active'">Forget password ?</a></div>
          <div><button class="btn color mb-4 layout-btn" routerLink="./app/home" [routerLinkActive]="'active'">sign in -></button></div>
          <div>
            <a class=" d-flex justify-content-center mb-4 label " routerLink="./app/register" [routerLinkActive]="'active'" >Not a member? sign up</a>
           <!-- <button class="btn color mb-4 layout-btn" >Register</button>
          --></div>
    <div class ="group-btn mb-3">
      <img src='assets/svg/google.svg' class="rounded-circle border-img m-3 taille">
      <img src="assets/svg/facebook.svg "  class="rounded-circle border-img m-3 taille">
      <img src="assets/svg/Twitter.svg" class="rounded-circle border-img m-3 taille">
      <ul>
        <li><i class='bx bxl-facebook'></i></li>
        <li><i class='bx bxl-linkedin'></i></li>
        <li><i class='bx bxl-twitter'></i></li>
        <li><i class='bx bxl-instagram'></i></li>
    </ul>
    </div>
        </div>
        <div class="col-6 color"><img src="assets/img/logo.png" alt="login"></div>
        </div>
    
    </div>
    
    </div>