<div class="x mb-2 mt-5 h-100 w-100 ">
    <div class="card  h-100 w-75">
    <div class=" row">
        <div class="col-6 y ">
       <!---- <h3 class="text mt-3">welcom to <span class ="namsite">" My Web Site"</span> </h3>-->
        <h1 class="text"> sign up</h1>
        <div class="mb-3 mx-3">
            <label for="firstname" class="form-label label">First name</label>
            <input type="text" class="form-control" id="firstname" placeholder="nasr">
          </div>
          <div class="mb-3 mx-3">
            <label for="lastname" class="form-label label">Last name</label>
            <input type="text" class="form-control" id="lastname" placeholder="intissar">
          </div>
          <div class="mb-3 mx-3">
            <label for="email" class="form-label label">Email</label>
            <input type="text" class="form-control" id="email" placeholder="example@gmail.com">
          </div>
          <div class="mb-3 mx-3">
            <label for="password" class="form-label label">Password</label>
            <input type="text" class="form-control" id="password" placeholder="*****">
          </div>
          <div class="mb-3 mx-3">
            <label for="Confirmpassword" class="form-label label">Confirm password</label>
            <input type="text" class="form-control" id="Confirmpassword" placeholder="******">
          </div>
         
          <div><button class="btn color mb-4 layout-btn" >Sign up</button></div>
    <div class ="group-btn mb-3">
      <img src='assets/svg/google.svg' class="rounded-circle border-img m-3 taille">
        <img src="assets/svg/facebook.svg "  class="rounded-circle border-img m-3 taille">
        <img src="assets/svg/Twitter.svg" class="rounded-circle border-img m-3 taille">
    </div>
        </div>
        <div class="col-6 color">
          <img src="assets/img/logo.png" alt="login">
        </div>
        </div>
    
    </div>
    
    </div>

