<div class="mt-4 container colorText">
<h2 class="mt-4">HELP - FAQs</h2>
<h1></h1>
<p class="mt-4">Whatever your question or problem you're having, we're here to help!<br>
    You will find below all the information that may be useful to you before, during or after placing an order:</p>
<h3 class="mt-4 colorText1">1. MON COMPTE CLIENT</h3>
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed colortext2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Is the creation of a customer account mandatory?
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">You can perfectly place an order on our site without creating a customer account.<br>

           <p>However, creating an account will give you access to several advantages, such as:<br>
            
            - Take advantage of our Private Sales<br>
            - Save your delivery addresses and order faster<br>
            - Track the status of your orders in real time<br>
            - Consult the history of your orders and renew an order in 1 click<br>
            
            If you are logged into your account when you browse our site, your Basket will also be automatically saved until your next visit.</p> 
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed colortext2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          
           How do I create my customer account?
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Click on the “My Account” tab and complete the registration form before validating. An email will be automatically sent to you to confirm your registration.
            <br>
            All the information that you communicate to us via this form is strictly confidential and its use is exclusively reserved for our company, in order to ensure the management and delivery of your orders.<br>
            In accordance with the Data-processing law and Freedoms n° 78-17 of January 6, 1978, you have a right of access, rectification, opposition and suppression of the data concerning you near our company.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed colortext2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            How do I modify my customer account?
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body"> You can modify your personal information at any time by logging in via the “My Account” tab.<br> Then edit the fields of your choice and click on "Validate" to save your changes.</div>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed colortext2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            What if I forgot my password?
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body"> When creating your customer account, an email containing your password was sent to you.<br>
            If you can't find this email, just click on "Forgot your password?" when logging into your account.<br> A link to reset your password will then be automatically sent to the email address provided when you registered.
           </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed colortext2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            How do I subscribe or unsubscribe to the Newsletter?
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body"> Subscribing to our Newsletter will allow you to be informed of all our offers and promotions. To subscribe, simply enter your email address on our Newsletter subscription page.
            <br>
            You can then unsubscribe from our Newsletter at any time:<br>
            - either by unchecking the “Newsletter subscription” box from your customer account<br>
            - either by clicking on the unsubscribe link present in all our newsletters<br>
            - either by sending your unsubscribe request to service.client@bysmaquillage.fr
           </div>
        </div>
      </div>
  </div>
<h3 class="mt-4 colorText1"> 2. ORDERS & TRACKING</h3>
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button colortext2" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          
        What are the steps to place an order?
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
            When you view a product, you can add it to your Basket by clicking on the “Order” button. <br>You can then easily withdraw it or modify its quantity directly from the page of your Basket.
<br>
            To finalize your order, go to your Basket and click on “Order”. Then follow the steps indicated: identification, <br>choice of address, choice of delivery method and payment.<br>
            
            Please note: at the time of the last “Payment” step, be sure to check the contents of your Basket before choosing a payment method and finalizing your purchase.<br> Once the payment method has been chosen and the order has been validated, it can no longer be modified.<br>
            
            After validating your order, you will receive a confirmation email summarizing your purchases as well as the delivery method and address chosen.<br> As soon as your order has been shipped, you will receive a second email containing the tracking number for your package.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed colortext2" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            Can I modify or cancel my order once validated?
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
            As soon as you validate an order at the “Payment” stage, it is immediately recorded in our system to allow us to prepare and ship it as quickly as possible. <br>This is a fully automated computer processing that does not allow you to manually cancel or modify an order once it has been validated.<br>
            If necessary, we invite you to contact our Customer Service so that we can define with you the best possible solution, depending on your problem.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button class="accordion-button collapsed colortext2" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
         
            I can't reach Customer Service by phone
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
            Our switchboard is open Monday to Friday, 9 a.m. to 12 p.m. and 2 p.m. to 4 p.m.
            Outside these hours or if you are unable to reach us due to a busy line, you can send us any request by email to the address service.client@bysmaquillage.fr
            We respond to all written requests within 24 hours (excluding weekends and public holidays).
            
            NB: Our switchboard does not have a voicemail. If you are unable to reach us immediately by telephone, please do not hesitate to contact us by email.
        </div>
      </div>
    </div>
  </div>
  <h3 class="mt-4 colorText1"> 3.PAIEMENT</h3>
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button colortext2" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
         
What are the different payment methods available?
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          
We accept payment by<br>
- Bank card<br>
- PayPal<br>
- check<br>
- bank transfer<br>

Only bank cards issued by a banking establishment domiciled in France are accepted. Payment by credit card is completely secure via an SSL connection and the Paybox payment solution, guaranteeing the encryption and total confidentiality of your bank data. Learn more
<br>
For payments by check or bank transfer, please note that your order will only be validated and prepared after full receipt of payment.
<br>
For payment by check, please make your check payable to Be Your Self France<br>
And send it to the following address:<br>
BYS Makeup<br>
15 Humere Road<br>
ZI Saint-Etienne<br>
64100 BAYONNE<br>

For payment by bank transfer, please use the following details:<br>
BE YOUR SELF FRANCE<br>
IBAN: FR76 1690 6000 4287 0196 9691 829<br>
BIC Code: AGRIFRPP869<br>
Bank address :<br>
Credit Agricole Pyrenees Gascony<br>
2 path of Marouette<br>
64100 Bayonne
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed colortext2" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            I can't finalize my payment
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
            Check that your credit card information or your Paypal login credentials are correctly filled in.<br>
            If despite everything your payment does not succeed, please contact your bank to identify the reasons that may block the payment.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button class="accordion-button collapsed colortext2" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            My credit card payment failed. If I start again, do I risk being charged twice?
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree " class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
            If an error message was displayed during your first attempt, this means that your payment could not be completed and therefore that you have not been debited.<br>
You can therefore try again without the risk of being charged twice, because each transaction is associated with a unique identifier.<br>
If even after several attempts, your payment still fails, please contact your bank to identify the reasons that may be blocking the payment.
        </div>
      </div>
    </div>
  </div>
  <h3 class="mt-4 colorText1">4.LIVRAISON</h3>


  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed colortext2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            How soon will I receive my order?
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Upon receipt of your payment, we make every effort to ship your order as soon as possible. On weekdays, orders are generally prepared within 24 hours. Orders placed between Friday afternoon and Sunday evening are processed from the following Monday.
<br>
            Once your order has been dispatched, delivery times then depend on the carrier chosen: 48 hours for Colissimo, 3 to 5 days for Mondial Relay. As soon as your package has been handed over to the carrier, we will send you a package tracking number by email allowing you to follow its delivery.
            <br>
            NB: In periods of strong promotions such as Black Friday or €1 Flash Sales, our preparation times may be slightly longer due to the influx of orders: we nevertheless strive to respect the shortest possible deadlines and are always strengthening our teams. for this type of operation.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed colortext2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            I never received my order
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">First check the delivery address or the Relay Point indicated on your order confirmation email. We deliver exclusively to the address you chose when confirming your order.<br>

            You can also use the parcel tracking number that we sent to you by email to check the status of your parcel on the carrier's website. This will allow you to be notified in the event of a delay or malfunction on their part.<br>
            
            If after 14 days, you still have not received your order, please let us know by email (service.client@bysmaquillage.fr) indicating your order number. We will immediately initiate an investigation with the carrier to trace your package and complete its delivery.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed colortext2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          
How do I get free delivery?
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            From 49€ of purchase, you can take advantage of the free Mondial Relay delivery. A tip to quickly reach this level: place a group order with your friends;)
            <br>
            Several times a year, we also offer delivery during special operations. To be notified as soon as we launch a “free delivery” flash offer, subscribe to our newsletter!</div>
      </div>
    </div>
  </div>
  <div class="mt-5"><p class="mt-2">Didn't find the answer to your question in the list above? Do not hesitate to contact our Customer Service</p>

   <p class="mt-2">For any partnership request (Blog, Instagram, Youtube…), you can send your proposal to contact@bysmaquillage.fr: we will not fail to answer you.</p></div>
  
</div>