.colorText{
color:#512b08;
align-content: s;
}
.colorText1{
color:#d1872f;
}
.colortext2{
color:black;
}
h1:after {
    content: "";
    width: 180px;
    background: #caa87f;
    display: block;
    height: 10px;
    margin-top: 0px;
}